extends ../layout

block content
  #impress
    .step.box#title-slide
      include ../slides/title
    .step#author-slide(data-x=-200, data-y=200, data-z=1, data-scale=.5)
      include ../slides/author
    .step.box#history-slide(data-x=600, data-z=-560, data-rotate-y=90)
      include ../slides/history
    .step.box#benefits-slide(data-z=-1120, data-rotate-y=180)
      include ../slides/benefits
    .step.box#uses-slide(data-z=-560, data-y=-380, data-rotate-x=90, data-rotate-z=-90)
      include ../slides/uses
    .step#functions(data-x=800, data-y=-2000, data-z=0, data-scale=2, data-rotate-y=60, data-rotate-x=60)
      include ../slides/functions
    .step#prototypes(data-x=800, data-y=-2600, data-z=1700, data-scale=2, data-rotate-y=60, data-rotate-x=60)
      include ../slides/prototypes
    .step#objects(data-x=800, data-y=-2700, data-z=2600, data-scale=2, data-rotate-y=60, data-rotate-x=60)
      include ../slides/objects
    .step#examples(data-x=800, data-y=-2000, data-z=-1000, )
      .title Examples
append scripts
  script(src='/js/lib/impress.js')
  script
    impress().init();
