.section
  .title Benefits
  .subtitle Writeable, Reliable
  ul
    li Reach
    li Code Reuse
    li Community
    li Robust
    li Easy
.section.right
  .title Costs
  .subtitle Readable
  ul
    li Security
    li Speed *
img(src='/img/win.jpg')
