.title History
.quote
  img(src='/img/left-quote.jpg')
  span Java is to JavaScript as Car is to Carpet.
  img(src='/img/right-quote.jpg')
  .author - Joe Sondow, Netflix
.facts
  ul
    li Brenden Eich created Javascript in 10 days.
    li Mocha => LiveScript => Javascript => ECMAScript
    li Java + Scheme + Self = ECMAScript
  table
    tr
      td(style='border-top-left-radius: 50px 100px;') Java
      td Syntax
    tr
      td Self
      td Prototypes
    tr
      td Scheme
      td Lambdas
img.netscape(src='/img/netscape.png')
