#benefits-slide
  height: 650px
  padding: 50px 90px
  text-align: center

  .section
    display: inline-block
    vertical-align: top

    &.right
      padding-left: 300px

    .subtitle
      font-size: 35px

    ul
      text-align: left

      li
        font-size: 30px

  img
    position: relative
    top: -80px
    left: 150px
