@import shared

body
  background-color: rgb(145, 145, 255)

.step
  width: 1000px

#title-slide
  text-align: center

  .title
    font-weight: bold
    font-size: 75px
    padding-bottom: 20px

  .subtitle
    font-size: 35px
    padding-bottom: 300px

#author-slide
  text-align: center

  .text
    font-size: 40px

#history-slide
  .title
    font-size: 35px
