#uses-slide
  padding: 290px 50px
  height: 600px
  text-align: center

  .section
    display: inline-block
    vertical-align: top

    .title
      padding-bottom: 50px

    &.second
      padding-left: 300px
  ul
    text-align: left

    li
      padding-bottom: 10px
      font-size: 35px
